.find_emojiPage h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gameField {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 35px auto;
    width: 1300px;
}

.emoji {
    cursor: pointer;
    font-size: 30px;
    width: 40px;
}

.emoji:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 480px) {
    .gameField {
        justify-content: space-between;
        width: 350px;
    }
}