.header h1 {
    font-size: 48px;
}

.header h1 a {
    font-family: cursive;
}

.header h1 a img {
    margin-right: 15px;
}

.header .active {
    pointer-events: none;
}

.header img {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}